.search-input {
  padding: 5px;
  width: 500px;
}
.result-container {
  width: 500px;
  border: 1px solid;
  margin: auto;
  padding: 5px;
  text-align: left;
  max-height: 500px;
  overflow-y: scroll;
}
.result {
  display: block;
  padding: 3px;
}

.result:hover {
  background-color: grey;
  cursor: pointer;
}

.showIndex {
  background-color: bisque;
}
